body {
    overflow-x: hidden;
    background-color: #f0f0f0;
}

/*-----NAVBAR START-----*/

.navbar-item {
    padding: 0 20px;
    color: white;
}

#navbar-list-container {
    margin-left: 200px;
}

.active-link {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-item-text {
    color: white!important;
    font-size: 12px;
}

.search {
    position: relative;
}

.search input {
    text-indent: 10px;
}

.search .fa-search {
    position: absolute;
    top: 8px;
    right: 17px;
    font-size: 15px;
    color: grey;
}

.navbar-right-icon {
    color : white;
    padding: 0 5px 0 80px;
}

.search-input {
    height: 32px;
}

/*-----NAVBAR END-----*/



/*-----FORM START-----*/

.form-input-text{
    border-radius: 0;
    border: 1px transparent solid;
    width: 93%;
    height: 45px;
    font-size: 12px;
    color: #0D3155;
    font-weight: 600;
    margin-top: 0;
}

.hidden {
    display: none;
}

.input-group-addon {
    border: 0;
    border-radius: 0;
    margin-left: -5px;
    background: white;
    color: #0D3155;
    margin-right: 20px;
    height: 38px;
    margin-top: 1px;
    font-size: 14px;
}

.form-input-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #004475;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
}

.form-input-text::-moz-placeholder { /* Firefox 19+ */
    color: #004475;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
}

.form-input-text:-ms-input-placeholder { /* IE 10+ */
    color: #004475;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
}

.form-input-text:-moz-placeholder { /* Firefox 18- */
    color: #004475;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
}

.form-input-text:focus {
    color: #0D3155;
}

.form-row {
    margin-top: 10px;
}

.form-container {
    margin-left: -15px;
}

.form-lines {
    margin-top: 30px;
}

.file-titles {
    font-size: 12px;
    margin-top: 25px;
}

.upload-row {
    height: 50px;
    padding-top: 15px;
}

.form-section-header {
    font-size: 15px;
    font-weight: 500;
}

.form-section-header-right {
    font-size: 14px;
    font-weight: 500;
}

.form-input-text:focus {
    color: #0D3155;
}

.form-input-checkbox-label {
    color: darkgrey;
    font-size: 13px;
}

.form-input-button {
    border: 1px transparent solid;
    border-radius: 0;
    background-color: #145293;
    color: white;
    font-size: 12px;
    padding: 10px 0;
    margin-top: -10px;
    width: 63%;
}

.file-input {
    border: 1px transparent solid;
    border-radius: 0;
    background-color: #145293;
    color: white;
    font-size: 12px;
    padding: 10px 0;
    margin-top: -10px;
    width: 100%;
}

.file-input-label {

    font-size: 12px;
    font-weight: 500;
}

.form-input-textarea {
    border: 1px transparent solid;
    border-radius: 0;
    resize: none;
    margin-left: -15px;
    margin-top: 3px;
    font-size: 12px;
    color: #0D3155;
    font-weight: 600;
}

.form-input-textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #004475;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
}

.form-input-textarea::-moz-placeholder { /* Firefox 19+ */
    color: #004475;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
}

.form-input-textarea:-ms-input-placeholder { /* IE 10+ */
    color: #004475;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
}

.form-input-textarea:-moz-placeholder { /* Firefox 18- */
    color: #004475;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
}

.form-input-textarea:focus {
    color: #0D3155;
}

/*-----FORM END-----*/



/*-----PARALLAX START-----*/

.parallax-window {
    min-height: 350px;
    background: transparent;
}

.parallax-modal {
    width: 60vw;
    height: 180px;
    margin-left: 20vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.parallax-modal-2 {
    width: 65vw;
    height: 330px;
    margin-left: 18vw;
}

.parallax-content {
    margin-top: 50px;
    text-align: center;
}

.parallax-content-2 {
    text-align: center;
    height: 260px;
    background-color: white;
}

.parallax-header {
    font-size: 70px;
    line-height: 60px;
    color: white;
    letter-spacing: 5px;
}

.parallax-subheader {
    font-size: 38px;
    color: whitesmoke;
    letter-spacing: 2px;
}

.parallax-content-footer {
    transition: color 0.5s ease;
    color: lightgrey;
    font-size: 13px;
    padding-bottom: 20px;
    margin-top: 5px;
    float: left;
    padding-left: 12px;
    cursor: pointer;
}

.parallax-content-footer-phone {
    color: darkgrey;
    font-size: 13px;
}

.parallax-content-footer-contact {
    font-family: Yanone;
    letter-spacing: 1px;
    color: grey;
    font-size: 18px;
}

.parallax-content-footer-email {
    transition: color 0.5s ease;
    color: darkgrey;
    text-decoration: underline;
    cursor: pointer;
}

.parallax-content-footer-email:hover {
    color: #0D3155;
    cursor: pointer;
}

.parallax-content-footer-2 {
    color: grey;
    font-size: 13px;
}

.parallax-content-footer:hover {
    color: #0D3155;
    cursor: pointer;
}

.parallax-header-2 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    color: black;
    margin-left: 15px;
}

.parallax-list {
    list-style: dot;
    text-align: left;
    margin-left: -10px;
}

.parallax-list-item {
    font-size: 12px;
    margin-top: 8px;
}

.parallax-2 {
    margin-top: 60px;
}

/*-----PARALLAX END-----*/



/*-----FOOTER START-----*/

.footer {
    background-color: #e3e3e3;
    width: 100%;
    height: 60px;
    margin-top: 50px;
}

.footer-titles {
    font-size: 13px;
}

.footer-contents {
    transition: color 0.5s ease;
    font-size: 11px;
    margin-top: 5px;
    color: darkgrey;
    cursor: pointer;
}

.footer-contents:hover {
    color: #0D3155;
}

/*-----FOOTER END-----*/



/*-----FONTS START-----*/

.font-12 {
    font-size: 12px;
}

@font-face {
    font-family: Bebas;
    src: url(fonts/BEBAS.ttf);
}

@font-face {
    font-family: Poetsen;
    src: url(fonts/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Yanone-Bold;
    src: url(fonts/YanoneKaffeesatz-Bold.ttf);
}

@font-face {
    font-family: Yanone;
    src: url(fonts/YanoneKaffeesatz-Regular.ttf);
}

.font-bebas {
    font-family: Bebas;
}

.font-poetsen {
    font-family: Poetsen;
}

.font-yanone-bold {
    font-family: Yanone-Bold;
}

.font-yanone {
    font-family: Yanone;
}

/*-----FONTS END-----*/



/*-----OTHER BUTTONS AND LINKS START-----*/

.back-to-top-button {
    font-size: 17px;
    font-family: Yanone;
    letter-spacing: 1px;
    font-weight: 200;
    margin-right: -25px;
    color: darkgrey;
    line-height: 40px;
}

.back-to-top-button-div {
    transition: background-color 0.5s ease;
    cursor: pointer;
    margin-top: -40px;
    float: right;
    width: 140px;
    height: 40px;
    background-color: white;
}

.back-to-top-button-div span {
    transition: color 0.5s ease;
    cursor: pointer;
}

.back-to-top-button-div:hover {
    background-color: #0D3155!important;
}

.back-to-top-button-div:hover span {
    color: white!important;
}

.back-to-job-desc {
    transition: color 0.5s ease;
    color: darkgrey;
    font-size: 12px;
    cursor: pointer;
}

.back-to-job-desc:hover {
    color: #0D3155;
    cursor: pointer;
}

/*-----OTHER BUTTONS AND LINKS END-----*/



/*-----OTHERS START-----*/

.container-fluid {
    margin-left: 20%;
}

.second-container {
    padding-top: 20px;
    margin-left: 15vw;
}

.first-custom-ul {
    list-style: none;
    text-indent: -40px;
    color: darkgrey;
}

.second-custom-ul {
    list-style: none;
    text-indent: -20px;
    color: darkgrey;
    font-size: 14px;
}

.bg-black {
    background-color: black;
}

.white {
    color:white;
}

.content-header-row {
    margin-top: 45px;
}

.content-header-row h1 {
    color: black;
    font-size: 36px;
}

.font-13 {
    font-size: 13px;
}

.darkgrey {
    color: darkgrey;
}

.capitalize {
    text-transform: capitalize;
}

/*-----OTHERS END-----*/



/*-----MARGINS START-----*/

.m-l-0 {
    margin-left: 0;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-t-70 {
    margin-top: 70px;
}

.m-t-80 {
    margin-top: 80px;
}

.m-t-90 {
    margin-top: 90px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-t-150 {
    margin-top: 150px;
}

.m-t-200 {
    margin-top: 200px;
}

/*-----MARGINS END-----*/



/*-----PADDINGS START-----*/

.p-l-0 {
    padding-left: 0;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-t-60 {
    padding-top: 60px;
}

.p-t-70 {
    padding-top: 70px;
}

.p-t-80 {
    padding-top: 80px;
}

.p-t-90 {
    padding-top: 90px;
}

.p-t-100 {
    padding-top: 100px;
}

.p-t-150 {
    padding-top: 150px;
}

.p-t-200 {
    padding-top: 200px;
}

/*-----PADDINGS END-----*/


/*-----WIDTHS START-----*/

.w-300 {
    width: 300px;
}

/*-----WIDTHS END-----*/
